body {
	margin:0;
	padding:0;
	border: 2px solid #5F5BF9;
}

.banner, #footer {
	width:100%;
	background-color: #5F5BF9;
}

#site-header {
	float:right;
	margin: 0 10px 0 0;
}

#site-header a img {
	border: none;
}

#footer {
	height:50px;
}
